
#liste_news .new {
	height: 40px;
	margin-top: 5px;
}

#liste_news h2 {
	display: block;
	float: left;
	font-size: 1.2em;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0 0 0 5px;
	width: 385px;
}

#liste_news .new .label {
	display: block;
	font-size: 13px;
	height: 40px;
	line-height: 40px;
	margin-left: 419px;
	width: 114px;
}



.new .new_show {
	margin-left: 550px;
	margin-top: -25px;
	position: absolute;
}

.new .button_delete {
	float: right;
	font-size: 0.8em;
	margin-right: 10px;
	margin-top: -34px;
}

.new.hidden { display: none; }


#new_edit {
		padding: 5px;
}

#new_edit.hidden {
		padding: 0px;
		display: none;
}

#new_add {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		text-align: center;
		width: 190px;
}


fieldset { 
		border: 1px solid black;
		margin-top: 5px;
		padding: 5px;
}

.new_title input { 
		width: 500px;
		height: 24px;
		line-height: 24px;
}
